
.roast-feed-wrapper {
  max-width: 1000px;
  margin: 85px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feed-preview {
  font-family: 'Montserrat', sans-serif;
  font-weight : 600;
  font-size : 32px;
  color : #2d3047;
  text-align: center;
}

.roast-element {
  width:765px;
  height: 105px;
  background-color: #2d3047;
  transition: 0.3s all;
  color: #fafafa;
  margin-top:10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600px;
  text-transform: uppercase;
}

.roast-element p {
  text-align: center;
  margin-top:10px;
}

.roast-element:hover {
  opacity: 0.9;
  cursor: pointer;
}

.roast-element:nth-child(1n) {
  margin-top:40px;
}

.logout-button {
  margin:85px 0 30px 0;
  position: absolute;
  top: 0;
  right:40px;
}
