.roast-list-button {
padding:20px 30px;
background-color: #256eff;
transition: 0.3s all;
display: grid;
grid-template-columns: 80% 20%;
grid-gap: 10px;
color: #fafafa;
font-family: 'Montserrat', sans-serif;
font-weight : 400;
margin-top:40px;
border-radius:4px;
font-size: 20px;
/* width: 400px; */
text-align: center;

}

.roast-list-title {
  text-align: left;
  border-right: solid 1px currentColor;
}

.recommended {
    max-width: 600px;
    margin: auto;
}

.recommended ul {
  display: flex;
  flex-direction: column;
}

.roast-list-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
